<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9a889">  <td>19/02/21 13:43:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Registration.setup()[pri:0, instance:com.rfqnet.Rfqnet_Register.Registration@67ae56]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@31705400</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>19/02/21 13:43:32</td>   <td>11476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Registration.createBuyer()[pri:0, instance:com.rfqnet.Rfqnet_Register.Registration@67ae56]">createBuyer</td> 
  <td>main@31705400</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>19/02/21 13:43:39</td>   <td>19066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Registration.teardown()[pri:0, instance:com.rfqnet.Rfqnet_Register.Registration@67ae56]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@31705400</td>   <td></td> </tr>
</table>
